<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Carrinho</ion-title>

    <div *ngIf="carrinho[0]"
    class="numero-items" slot="end">
      <p>Itens:</p>
      <p>{{ qtItems }}</p>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-row *ngIf="carrinho[0]">

    <ion-col *ngFor="let car of carrinho"
     size="6">

      <div class="card-item">
        <img class="img-item" src="{{ car.link_imagem }}">
        <p class="pruduto-item">
          {{ car.nome_produto }}
        </p>
        <p class="preco-item">
          {{ car.preco_produto }}
        </p>
        <div class="meu_grid">
          <ion-label>
            <ion-button (click)="changeQtProduto(car.fk_id_produto, car.fk_id_compras, 'traz')"
            fill="clear">
              <ion-icon class="remove-item" name="remove"></ion-icon>
            </ion-button>
          </ion-label>

          <ion-label class="quantidade-item">
            {{ car.quantidade_produto }}
          </ion-label>

          <ion-label>
            <ion-button (click)="changeQtProduto(car.fk_id_produto, car.fk_id_compras, 'frente')"
            fill="clear">
              <ion-icon class="add-item" name="add"></ion-icon>
            </ion-button>
          </ion-label>
        </div>
      </div>

    </ion-col>

  </ion-row>



  <!-- ---- LAYOUT SEM LOGIN ---- -->

  <div *ngIf="!carrinho[0]">

    <img class="svg_compras no-centro-dentro" src="../../../assets/SVG_COMPRAS.png" alt="">

    <h2 class="titulo1">
      Seu o carrinho está vazio
    </h2>

  </div>

</ion-content>



<ion-footer *ngIf="carrinho[0]">

  <ion-toolbar>
    <h1>
      Total: <b>{{ valorTotalReal }}</b>
    </h1>
  </ion-toolbar>

  <button (click)="pagar(valorTotal)">
    PAGAR
  </button>
</ion-footer>