ion-title
{
    text-align: left;
}
ion-content
{
    --padding-top: 20px;
}
.numero-items
{
    margin-right: 1em;
}
.numero-items p
{
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.numero-items p:first-child
{
    color: var(--ion-color-cinza1);
}
.numero-items p:last-child
{
    font-weight: medium;
    color: var(--ion-color-verde0);
    margin-left: 0.4em;
}
// CARDS

ion-row
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.card-item
{
    background: var(--ion-color-preto1);
}
.card-item .img-item
{
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.card-item .pruduto-item
{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}
.card-item .preco-item
{ 
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: var(--ion-color-verde0);
}
.meu_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.meu_grid ion-icon
{
    color: var(--ion-color-cinza1);
}
.quantidade-item
{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 1em 0;
}
// FOOTER

ion-footer h1
{
    margin-left: 0.7em;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: var(--ion-color-branco1);
}
ion-footer button
{
    margin-bottom: 1em;
    width: 90%;
    color: var(--ion-color-branco1);
}


.fazer_login
{
    width: 68%;
    margin-top: 3em;
}