<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Boleto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="detalhes" (click)="myPopover()">
    <ion-icon name="information-circle"></ion-icon>
    <span>
      Detalhes do pedido
    </span>
  </p>

  <h2 class="titulo1">
    Cole esse código em uma plataforma de pagamentos.
  </h2>

  <div class="codigo_boleto no-centro-dentro">
    <p class="no-centro-dentro">
      Código aparece aqui.
    </p>
  </div>

  <!-- <ion-item class="item-boleto" button>
    <ion-icon slot="start" name="share-social"></ion-icon>
    <ion-label>Compartilhar</ion-label>
  </ion-item>

  <ion-item class="item-boleto" button>
    <ion-icon slot="start" name="mail"></ion-icon>
    <ion-label>Enviar por e-mail cadastrado</ion-label>
  </ion-item> -->

  <button (click)="sendPayment()">
    Gerar Boleto
  </button>

  <b class="voltar-inicio no-centro-dentro" routerLink="/tabs/tab1/inicio">
    voltar para o inicio
  </b>
  
  
  
  
  <!-- POPOVER PEDIDO -->
  
  <ion-popover [isOpen]="isOpen" (didDismiss)="isOpen = false"
  alignment="top">
    <ng-template>
      <ion-content>

        <div>
          <ion-button (click)="myPopover()" fill="clear" 
          class="close_pop">
            x
          </ion-button>
        </div>

        <div *ngFor="let p of products">
          <ion-item class="item-detalhes" button>
            <ion-thumbnail slot="start">
              <img src="{{ p.link_imagem }}" />
            </ion-thumbnail>
  
            <ion-label>
              <h3> 
                 {{ p.nome_produto }}
              </h3>
              <p class="preco-item"> {{ p.preco_produto }} </p>
            </ion-label>
        
            <h2 slot="end">
              {{ p.quantidade_produto }}
            </h2>
          </ion-item>
        </div>
        
        
        <div class="valor_total_detalhes">
          Total: <b>{{ valorTotalDetalhes }}</b>
        </div>

      </ion-content>
    </ng-template>
  </ion-popover>



</ion-content>
