<ion-header
[translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="search" mode="android"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>
      Compras realizadas
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <ion-icon slot="start" name="cart-outline" mode="android"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <div *ngIf="checkLogin == 'true'">

  <div *ngFor="let compraTal of compras"
  class="item-compra">

    <ion-row *ngFor="let produtoTal of compraTal.produto1">
      <!-- IMAGEM DO PRODUTO -->
      <ion-col size="4">
        <ion-thumbnail>
          <img src="{{ produtoTal.link_imagem }}" />
        </ion-thumbnail>
      </ion-col>
      
      <!-- DADOS DO PRODUTO -->
      <ion-col size="8">
        <h1 class="prod-name-compra">
          {{ produtoTal.nome_produto }}
        </h1>
        <p>
          ({{ produtoTal.quantidade_produto }}) - 
          {{ produtoTal.preco_produto }} 
        </p>
      </ion-col>

      <ion-col *ngIf="compraTal.verMais.length > 0" size="10">
        <p (click)="verMais(compraTal.verMais)" class="ver_mais">
          ver mais.
        </p>
      </ion-col>
    </ion-row> 
   

    <ion-row>
      <p>
        <ion-text>
          Total a pagar: 
        </ion-text> <b> R$ {{ compraTal.valor_total }}, {{ compraTal.metodo_pagamento }}</b>
      </p>

      <p>
        <ion-text>
          Data de compra: 
        </ion-text> <b> {{ compraTal.data_hora_compra }}</b>
      </p>

      <p>
        <ion-text>
          Status da compra:
        </ion-text> <b> {{ compraTal.status }} </b>
      </p>

      <p>
        <ion-text>
          Onde ele está:
        </ion-text> <b> {{ compraTal.local_atual }} </b>
      </p>

      <p>
        <ion-text>
          Local de entrega: 
        </ion-text> <b> {{ compraTal.local_entrega }} </b>
      </p>
    </ion-row>

    <!-- BOTÃO DE CANCELAR -->
    <button disabled="disabled" *ngIf="compraTal.status !== 'no local'"
    class="botao-compra botao-compra-desabilitado">
      <b> CONFIRMAR ENTREGA </b>
    </button>

    <button *ngIf="compraTal.status == 'no local'"
    class="botao-compra">
      <b> CONFIRMAR ENTREGA </b>
    </button>

  </div>
  </div>


  <!-- ---- LAYOUT SEM LOGIN ---- -->
  <div *ngIf="checkLogin == '' || !compras[0]">

    <img class="svg_compras no-centro-dentro" src="../../../assets/SVG_COMPRAS.png" alt="">

    <h2 class="titulo1">
      Voce não realizou compras
    </h2>

  </div>



   <!-- JANELA PARA VER MAIS PRODUTOS -->
   <ion-popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content>

        <div *ngFor="let p of verMaisProdutos">
          <ion-item class="item-detalhes" button>
            <ion-thumbnail slot="start">
              <img src="{{ p.link_imagem }}" />
            </ion-thumbnail>
  
            <ion-label>
              <h3> 
                 {{ p.nome_produto }}
              </h3>
              <p class="preco-item"> {{ p.preco_produto }} </p>
            </ion-label>
        
            <h2 slot="end">
              {{ p.quantidade_produto }}
            </h2>
          </ion-item>
        </div>

      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
