<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title *ngFor="let dados of dadosProdutos" 
    id="title_produto"> 
      {{ dados.nome_produto }} 
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>


<div *ngFor="let dados2 of dadosProdutos">

  <img class="img_produto no-centro-dentro" src="{{ dados2.link_imagem }}">

      <span class="qt_estrela">
        {{ dados2.media_estrelas }}
      </span>

      <!-- 0.0 -->
      <div *ngIf="dados2.media_estrelas == 0.0 || dados2.media_estrelas == ''"
      class="box_estrelas">
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 0.5 -->
      <div *ngIf="
      ['0.1', '0.2', '0.3', '0.4', 
      '0.5', '0.6', '0.7', '0.8', '0.9'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 1.0 -->
      <div *ngIf=" 
      ['1,0', '1.1', '1.2', '1.3', '1.4'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 1.5 -->
      <div *ngIf=" 
      ['1.5', '1.6', '1.7', '1.8', '1.9'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 2.0 -->
      <div *ngIf=" 
      ['2.0', '2.1', '2.2', '2.3', '2.4'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 2.5 -->
      <div *ngIf="
      ['2.5', '2.6', '2.7', '2.8', '2.9'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 3.0 -->
      <div *ngIf="
      ['3.0', '3.1', '3.2', '3.3', '3.4'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 3.5 -->
      <div *ngIf="
      ['3.5', '3.6', '3.7', '3.8', '3.9'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 4.0 -->
      <div *ngIf="
      ['4.0', '4.1', '4.2', '4.3', '4.4'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 4.5 -->
      <div *ngIf=" 
      ['4.5', '4.6', '4.7', '4.8', '4.9'].indexOf(dados2.media_estrelas) > -1"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
      </div>
      <!-- 5.0 -->
      <div *ngIf="dados2.media_estrelas == '5.0'"
      class="box_estrelas">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>

  <!-- BOTÕES DE AÇÃO -->
  <div class="box_buttons_out">

    <ion-icon *ngIf="coracaoCor == 'cinzaIcone'" (click)="addWishList()"
    [class]="coracaoCor"
    name="heart">
    </ion-icon>
    <ion-icon *ngIf="coracaoCor == 'vermelhoIcone'" (click)="removeWishList()"
    [class]="coracaoCor"
    name="heart">
    </ion-icon>

    <ion-icon *ngIf="carrinhoCor == 'cinzaIcone'" (click)="addCart(dados2.id)"
    [class]="carrinhoCor"
    name="cart"></ion-icon>
    <ion-icon *ngIf="carrinhoCor == 'vermelhoIcone'" (click)="removeCart()"
    [class]="carrinhoCor"
    name="cart"></ion-icon>

    <ion-icon 
     name="share-social"
     [class]="compartilharCor"></ion-icon>
  </div>

  <p class="preco">
    {{ dados2.preco_produto }}
  </p>

  <p *ngIf="prestacaoProduto"
   class="parcelas">
    12x de R$ 599,00
  </p>

  <button class="button_comprar">
    COMPRAR
  </button>


  <!-- OUTRAS INFORMAÇÕES -->

  <h3 class="title_desc">
    Descrição
  </h3>

  <p class="text_desc">
    {{ dados2.descricao }}
  </p>

  <h3 *ngIf="!especificacoes[0]" class="title_especificacoes">
    Especificações
  </h3>

  <p *ngFor="let e of especificacoes"
  class="text_especificacoes">
    • {{ e.nome_escecificacao }} : <span> {{ e.valor_especificacao }} </span>
  </p>


  <!-- FEEDBACK -->


  <h3 class="title_avaliacoes"> Avaliações </h3>

  <ion-button class="button_add_comentario" fill="clear"
      (click)="toggleInput()"
    >
    <ion-icon *ngIf="inputComentarioFadeIn && checkLogin == 'true'" 
    slot="start" name="add"></ion-icon>

    <ion-text *ngIf="inputComentarioFadeIn && checkLogin == 'true'">
      Comentar
    </ion-text>

    <ion-text *ngIf="!inputComentarioFadeIn">
      Cancelar
    </ion-text>
  </ion-button>

  <div *ngIf="!inputComentarioFadeIn"
  class="estrelas_form">
      <ion-icon (click)="prevStar()"
      class="flecha_estrela" 
      name="chevron-back"
      ></ion-icon>

      <ion-icon *ngFor="let star of estrelasCheias"
      name="star"></ion-icon>
      <ion-icon *ngFor="let star2 of estrelasMedias"
      name="star-half-outline"></ion-icon>
      <ion-icon *ngFor="let star3 of estrelasVazias"
      name="star-outline"
      ></ion-icon>

      <ion-icon (click)="nextStar()"
      class="flecha_estrela" 
      name="chevron-forward"
      ></ion-icon>
  </div>

  <div *ngIf="!inputComentarioFadeIn"
  class="box_input_comentario" >

    <input type="text" placeholder="Comentário" 
    maxlength="1000" class="input_comentario"
    [(ngModel)]="inputPostComentario"
    >
    <ion-button (click)="postComent()"
    class="btn_submit_comentario">
      <ion-icon name="send"></ion-icon>
    </ion-button>

  </div>




  <!-- COMENTÁRIOS -->
  <div *ngFor="let c of comentarios"
  class="item_comentario">
    <ion-avatar class="avatar_comentario">
      <img src="{{ c.profile_photo_path }}">
    </ion-avatar>

    <ion-label>
      <h2 class="nome_comentario">
        {{ c.nome_usuario }}
      </h2>
      <!-- 0.0 -->
      <div *ngIf="c.estrelas == 0.0 || c.estrelas == ''"
      class="box_star_comentario">
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 0.5 -->
      <div *ngIf="
      [0.1, 0.2, 0.3, 0.4, 
      0.5, 0.6, 0.7, 0.8, 0.9].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 1.0 -->
      <div *ngIf=" 
      [1,0, 1.1, 1.2, 1.3, 1.4].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 1.5 -->
      <div *ngIf=" 
      [1.5, 1.6, 1.7, 1.8, 1.9].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 2.0 -->
      <div *ngIf=" 
      [2.0, 2.1, 2.2, 2.3, 2.4].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 2.5 -->
      <div *ngIf="
      [2.5, 2.6, 2.7, 2.8, 2.9].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 3.0 -->
      <div *ngIf="
      [3, 3.1, 3.2, 3.3, 3.4].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 3.5 -->
      <div *ngIf="
      [3.5, 3.6, 3.7, 3.8, 3.9].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 4.0 -->
      <div *ngIf="
      [4, 4.1, 4.2, 4.3, 4.4].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <!-- 4.5 -->
      <div *ngIf=" 
      [4.5, 4.6, 4.7, 4.8, 4.9].indexOf(c.estrelas) > -1"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
      </div>
      <!-- 5.0 -->
      <div *ngIf="c.estrelas == 5"
      class="box_star_comentario">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
      <p class="msg_comentario">
        {{ c.texto_comentario }}
      </p>
    </ion-label>
  </div>


</div>

</ion-content>